<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
        h2{text-align:center;}
        table,th,td{border:1px solid black; border-collapse:collapse;}
        table{width:900px; margin:20px auto;}
        th,td{height:40px; text-align:center;}
        div{width:400px; margin:0 auto; text-align:center;}
        button{width:150px; height:50px; font-size-20px; text-align:center;}

</style>
<body>
    <h2>메인</h2>
    <ul style="list-style-type: none;">
        <li><a href='/admin'><button>관리자페이지</button></li>
        <li><a href='/students/list/'><button>리스트페이지</button></li>
    </ul>
    
</body>
</html>