<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
        h2{text-align:center;}
        table,th,td{border:1px solid black; border-collapse:collapse;}
        table{width:900px; margin:20px auto;}
        th,td{height:40px; text-align:center;}
        div{width:400px; margin:0 auto; text-align:center;}
        button{width:150px; height:50px; font-size-20px; text-align:center;}

</style>
<body>
    <h2>세컨</h2>
    <table>
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>학과</th>
            <th>날짜</th>
        </tr>
        {% for s in list%}
        <tr>
            <td>{{s.no}}</td>
            <td><a href='/students/view/{{s.no}}'>{{s.name}}</a></td>
            <td>{{s.major}}</td>
            <td>{{s.sdate}}</td>
        </tr>
        {% endfor%}
    </table>
    <br>
    <a href='/'><button>홈으로 </button></a>
    <a href='/students/write'><button>글쓰기 </button></a>
</body>
</html>