<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h2{text-align:center}
        div{text-align:center}
        button{width: 150px; height:70px; font-size: 20px}

    </style>
</head>
<body>
    <h2>메인페이지</h2>

    <div>

        <a href='/admin'><button>관리자페이지</button></a>
        <a href='/students/list/'><button>학생리스트</button></a>
        <a href='/students/write/'><button>학생등록</button></a>
    </div>
    
</body>
</html>